
.sittercontainer {
    border:1px solid #CCCCCC;
    margin-bottom:0px;
    width:100%;
}

.sittercontent {
    min-width:70%;
}

.sitterimageholder {
    border:1px solid #fcfcfc;
    float:left;
    margin:10px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding:5px;
}

.sitterinformation {
    width:95%;
    padding-left: 1em;

}

h1.sitterhead {
    font-weight:bold;
    background-color: #227ab1;
    color: #ffffff;
    margin-top: 0px;
}

h1.sitterhead > a {
    color: #ffffff !important;
}

#content h1.sitterhead > a:hover {
    text-decoration: none;
    color: #ffffff !important;
    font-weight: 200;
}

h2.sitterhead {
    color: gray;
    line-height: 1.3em;
}

.sitterhead {
    font-size:1.3em;
    font-weight:bold;
    vertical-align: bottom;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 100%;
}

.inputline {
    margin: 10px;
}

#kontaktname{}
#kontaktemail{}

dl > dd.step.portletItem, dl > dd.steptodo.portletItem {
    padding-top: 0.5em;
    padding-bottom: 0.35em;
    padding-left: 0.75em;
    padding-right: 0.75em;
}

p.step_description,
.step_more_links,
.step_more_links_toggle{
    font-size: 1em;
    margin: 0.2em;
    margin-left: 0.5em;
}

.step {
    padding-bottom: 0.25em !important;
}

dl.portletSitter a, dl.portletSitter a:visited{
    color: #227ab1;
}

div.portlet ul.step_more_links {
    padding: 0px;
}

.step_more_links > li{
    list-style: none;
}

.activestep {
    font-weight: normal;
}

.activestep-img {
    color: #227ab1;
}

.activestep-img, .done {
    vertical-align:0% !important;
}

.done {
    color: #C5DB93;
}

.finished {
    color: #6CA43F;
}

.info {
    color: #227ab1;
}

.steptodo {
    color: gray;
}

.table {
    display: table;
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
    padding: 0em 1em 1em 1em;
    width: 25%;
}

.hidden {
    display: None;
}

button.btn,
 a.btn {
    background-color: #dee7ec;
    border-left: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    border-right: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;

    color: Black !important;
    cursor: pointer;
    font-size: 0.9em;
    padding: 0.5rem;
    text-transform: none;
    vertical-align: middle;
    visibility: visible;
    margin: 1rem;
    white-space: nowrap;
}

button.btn:hover,
a.btn:hover {
    background-color: #D8E3E9 !important;
    border-left: 1px solid #BBBBBB;
    border-bottom: 1px solid #BBBBBB;
    border-right: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
}

.btn-back {
    margin-left: 0px;
}

a.btn {
    display: inline-block;
    margin-left: 0;
}

a.btn-logout {
    margin: 0px;
    width: 100%;
}

a.btn-logout span {
    vertical-align: middle;
}
a.btn-logout span i:nth-child(2){
    color:  #cccccc;
}


a.btn:hover,
a.btn:active {
    color: black !important;
    text-decoration: none !important;
}

#content .sittercontent ul {
    list-style-type: None
}

#content .sittercontent li {
    line-height: 3em;
    vertical-align: baseline;
}

#content .sittercontent li i.fa {
    top: inherit;
    bottom: 1em;
}

.shortinfo {
    margin: 4px;
    padding-left: 4px;
    vertical-align: baseline;
}

.shortinfo h3 {
    padding-left: 4px;
}

.sittercontactform {
    padding: 2em;
}

.input {
    width: auto;
}

.inputline .child {
    margin: 0px 10px 0px 10px;
}

.contactlabel {
    width: 200px;
}

#result-info, #result-error {
    margin: 10px;
    font-weight: bold;
    display: inline-block;
}

#result-error .fa-exclamation-triangle {
    color: red;
}

#result-info .fa-info-circle {
    color: #6CA43F;
}

dl.portalMessage {
    border-color: #CCCCCC ;
}

dl.portalMessage dt, dl.portalMessage dd {
    font-size: 1.35em;
}

dl.portalMessage dt {
    background-color: #FFCA40;
    color: #000000;
    font-weight: normal;
}

dl.portalMessage dd {
    background-color: white;
}

.sitter-step-info {
    margin: 10px;
}

.sitter-step-info div:first-child {
    width: 0.1% !important;
}

.sitter-step-info div:nth-child(2) {
    vertical-align: top;
}

.sitter-step-info-head {
    font-size: 1.3em;
}

.sitter-step-info-head a {
    text-decoration: underline;
}

.flexcontainer {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.child {
    min-width: 150px;
    margin: 20px;
}

.child.input {
    padding: 8px;
}
